@import "../utilities/variables";
/* service details page style */
.service-detail {
  &__text {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: left !important;
  }
  img {
    width: 100%;
    height: 500px;
    object-fit: cover !important;
  }
}
